SetWorkingDir(EnvGet("USERPROFILE"))

RwmRun(Program, Arguments)
{
    ErrorLevel := ProcessExist(program)
    if !ErrorLevel
    {
        Run(Program " " Arguments, , "hide")
    }
}

;RwmRun("runemacs.exe", "--daemon")
