; -*- mode: ahk -*-

; STARTUP
ShellRun(A_ScriptDir "\autostart.ahk")

; SPIN CLICK
+wheeldown::Click()
+wheelup::Click()

; TASKKILL
F1::Run("taskkill /f /im `"" WinGetProcessName("A") "`"", , "hide")

^+!c::
{
    Answer := InputBox("What process do you want to terminate?", "Terminate Process").Value
    Run("taskkill /f /im `"" Answer "`"", , "hide")
}

^+!h::MsgBox("
(
    F1 - Terminates the current active window
    Control+Shift+Alt+h - Shows help window
    Control+Shift+Alt+c - Enter process name to terminate
)")

; TTS
#^a::
{
    Old_Clipboard := A_Clipboard
    A_Clipboard := ""
    Send("^c")
    ErrorLevel := !ClipWait(0.5)
    ComObject("sapi.spvoice").speak(A_Clipboard)
    A_Clipboard := Old_Clipboard
}

; ON TOP MAKER
#+t::WinSetAlwaysOnTop(-1, "A")

; -------------------------------------------

; KEYBINDINGS

; Super Keys
#Enter::Sleep(100), ShellRun("wt")
#p::Send("#s")

; rwm Keys
#+q::ExitApp()
#q::Reload()

; Applications
#+enter::ShellRun("explorer")
^!c::ShellRun("calc")
^!g::ShellRun("chrome")
^!b::ShellRun("brave")
^!h::ShellRun("taskmgr")
^!n::ShellRun("notepad")
^!s::ShellRun("ms-settings:apps-volume")

; Window Management
#+c::WinClose("A")
^+!m::Send("{F11}")

^+!v::
^+!f::
{
    If WinGetMinMax("A") == 1
        WinRestore("A")
    else
        WinMaximize("A")
}
